
.station-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 36px;
  left: 80px;
  z-index: 1;
  font-size: 36px;
  .station-logo {
    background: url("../../public/assets/LOGO.png");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 66px;
  }
  .station-name {
    color: #deecf1;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 3px;
  }
}
.operation-tools {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 200px;
  background: #456fba;
  border-radius: 16px;
  padding: 20px;
  .operation-item {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      box-shadow: 3px 7px 6px rgb(57 57 57 / 16%);
    }
    &.alarm-show {
      background: url("../../public/assets/pic/showOrHidennpng.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.alarm-hide {
      background: url("../../public/assets/pic/view.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.operation-item-reset {
      background: url("../../public/assets/pic/resetView@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.home-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .three-area {
    width: 100%;
    // 不能100%,只要100%就会滚动
    height: 100%;
    overflow: hidden;

    .three-box {
      height: 100%;
      width: 100%;
      display: block;
      #canvas {
        width: 100%;
        height: 100%;
        display: block;

        background: url(../../public/assets/texture/grid.png) no-repeat center
          center;
        background-color: #000625;
        background-size: cover;
      }
    }

    :deep(#myDialog) {
      font-size: 8px;
      .box-container-wrap {
        width: 740px;
        min-height: 414px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        .box-container {
          width: 717px;
          min-height: 414px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &.antenna-info {
            font-size: 42px;
          }
          &.host-info {
            font-size: 32px;
          }

          .title {
            font-family: Source Han Sans CN, Source Han Sans CN;
            font-weight: bold;
            color: #fff;
            margin-left: 120px;
            flex: 1;
          }

          .label-text {
            flex: 1;
            display: flex;
            font-family: Source Han Sans CN, Source Han Sans CN;
            color: #ccddff;
            justify-content: flex-start;
            align-items: center;
            .label-text-title {
              font-weight: bold;
              width: 200px;
            }

            .label-value-green {
              text-align: left;
              color: #5cdd2e;
              font-weight: bold;
            }
            .label-value-red {
              text-align: left;
              color: #ff4a4a;
              font-weight: bold;
            }
            .label-value-white {
              margin-left: 40px;
              width: 180px;
              text-align: left;
              color: #ffffff;
              font-weight: bold;
            }
            .status-value-green {
              border-radius: 50%;
              background: #5cdd2e;
              width: 20px;
              height: 20px;
            }
            .status-value-red {
              border-radius: 50%;
              background: #ff4a4a;
              width: 20px;
              height: 20px;
            }
            .status-value-white {
              margin-left: 40px;
              border-radius: 50%;
              background: #ffffff;
              width: 20px;
              height: 20px;
            }
          }

          .tip-green {
            flex: 1;
            width: 717px;
            height: 440px;
            padding: 20px 20px 33px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: rgba(22, 29, 38, 0.5);
            opacity: 0.9;
            // border: 1px solid #329550;
            // box-shadow: inset 0px 0px 15px 0px #329550;

            background: url("../../public/assets/pic/panel1.png");
            background-size: 720px 420px;
            background-repeat: no-repeat;
          }

          .tip-red {
            flex: 1;
            width: 717px;
            height: 440px;
            padding: 20px 20px 33px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: rgba(22, 29, 38, 0.5);
            opacity: 0.9;
            // border: 1px solid #882c2c;
            // box-shadow: inset 0px 0px 15px 0px #882c2c;

            background: url("../../public/assets/pic/panel2.png");
            background-size: 720px 420px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}